<h1>Anagramer</h1>

<form action="/Coins/results" method="post">
  <label for="inputNumber">Enter your change:</label>
  <input name="inputNumber" class="form-control" id="inputNumber">
  <button type="submit" class="btn btn-success">Go.</button>
</form>
